@charset "UTF-8";

/* ==========================================================================
　1. リセットCSS（ブラウザごとの余計な余白や装飾を消す）
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 👈 サイズ計算をラクにする超重要設定 */
}

a {
  color: inherit;
  text-align: none;
}

/* リストの「・」を消す */
ul, ol {
  list-style: none;
}

/* 画像の下に謎の隙間ができるのを防ぐ */
img {
  max-width: 100%;
  vertical-align: bottom;
}



#header {
  width: 100%;
  height: 80px;    
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

#header h1 {
  color:azure;
  font-size: 24px;
  background-color: brown;
  /*margin-left: 80px;*/
}

#header .menu_list {
  background-color:aqua;
  width: 700px;
  height: 80px;
  margin-left: auto;
  /*margin-right: 80px;*/
}
